/*Overriding Bootstrap CSS*/
h1,h2,h3,.h1,.h2,.h3 {
    text-transform: uppercase;
}
h3,.h3 {
    font-weight: lighter;
    font-size: 1.1rem;
}
h2,.h2 {
    font-weight: lighter;
}
/* Custom CSS*/
.gradient {
    background: linear-gradient(180deg, rgba(141,220,191,1) 0%, rgba(27,173,202,1) 100%);
}

.delimiter, .delimiter-bottom {
    position: relative;
}

.delimiter:before, .delimiter-bottom:before {
    content: "";
    background-image: url('../images/arrow.png');
    width: 91.5%;
    height: 12px;
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
}

.delimiter:after, .delimiter-bottom:after {
    content: "";
    background: black;
    width: 90%;
    height: 1px;
    position: absolute;
}
.delimiter:before {
    top: -5px;
}
.delimiter:after {
    top: 0;
}
.delimiter-bottom:before {
    bottom: -5px;
}
.delimiter-bottom:after {
    bottom: 0;
}
.delimiter-center:before, .delimiter-center:after {
    right: 50%;
    transform: translateX(50%);
}
.bg-primary-hover, .bg-secondary-hover {
    transition: all 0.5s ease;
}
.bg-primary-hover:hover {
    background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
}

.bg-secondary-hover:hover {
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}
.training-card {
    width: 615px;
}
