/*Overriding Bootstrap CSS*/
h3,.h3 {
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 1.1rem;
}
/* Custom CSS*/
.gradient {
    background: linear-gradient(180deg, rgba(141,220,191,1) 0%, rgba(27,173,202,1) 100%);
}

.delimiter {
    position: relative;
}

.delimiter:before {
    content: "";
    background-image: url('../images/arrow.png');
    width: 91.5%;
    height: 12px;
    background-repeat: no-repeat;
    background-position-x: right;
    position: absolute;
    top: -5px;
    right: 50%;
    transform: translateX(50%);
}

.delimiter:after {
    content: "";
    background: black;
    width: 90%;
    height: 1px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(50%);
}

.bg-primary-hover:hover {
    background-color: rgba(var(--bs-secondary-rgb), var(--bs-bg-opacity)) !important;
}
